<h1>H1 Goes Here</h1>
<hr />
<my-m-h1>H1 from Module1 Goes Here</my-m-h1>
<hr />
<my-cl-h1>H1 from Class Library Goes Here</my-cl-h1>
<p>View the source and you will see that &lt;my-cl-h1&gt;&lt;/my-cl-h1&gt; is not rendered.</p>
<hr />
<p>@ViewBag.Value</p>